.site {
  footer {
    flex-shrink: 0;
    padding: 10px;
    background: #000;
    color: #0c84a9;
    position: relative;

    .copyright {
      font-size: 0.7em;
      text-align: center;

      span {
        display: block;
      }
    }

    .top {
      position: absolute;
      right: 10px;
      top: -10px;

      border-radius: 8px;
      width: 22px;
      padding: 4px;
      text-align: center;

      background: #444;
      font-family: 'Open Sans', sans-serif;
      color: #ddd;

      &:hover {
        background: #888;
        cursor: pointer;
      }
    }
  }
}

