.site {
  header {
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: #0c84a9;
    color: white;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        cursor: pointer;
        color: orange;
      }
    }

    nav {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .main {
        text-transform: uppercase;
        padding: 0 40px;
        text-align: center;
        font-size: 1.2em;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      li {
        margin: 2px 20px;

        &.active a {
          font-weight: bold;
        }
      }

      .navigator {
        display: none;
      }
    }

    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .menu {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        order: 2;

        &:hover {
          cursor: pointer;
          color: orange;

          .pic {
            border-color: orange;
          }
        }
      }
    }

    .pic {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 1px solid #fff;
      margin: 0 3px;
    }

    .drop-down {
      font-size: 0.6em;
    }

    .schedule {
      order: 1;
      font-size: 1.2em;
      margin: 0 15px;
    }
  }
}

@media (min-width: 1250px) {
  .site {
    header {
      nav {
      }
    }
  }
}

@media (min-width: 1001px) and (max-width: 1249px) {

}

@media (min-width: 601px) and (max-width: 1000px) {
  .site {
    header {
      nav {
        .main {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .site {
    header {
      nav {
        .main {
          display: none;
        }

        li {
          display: none;

          &.active {
            display: inline-block;
          }
        }

        .navigator {
          display: inline-block;
        }
      }
    }
  }
}