html, body {
    height: 100%;
    margin: 0;
}

.site {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.site header {
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: #0c84a9;
    color: white;
}

.site header nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.site header nav .main {
    text-transform: uppercase;
    padding: 0 40px;
    text-align: center;
    font-size: 1.2em;
}

.site header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.site header nav li {
    margin: 2px 20px;
}

.site header .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.site header .profile .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    order: 2;
}

.site header .profile .menu:hover {
    cursor: pointer;
    color: orange;
}

.site header .profile .pic {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 0 3px;
}

.site header .profile .menu:hover .pic {
    border-color: orange;
}

.site header .profile .drop-down {
    font-size: 0.6em;
}

.site header .profile .schedule {
    order: 1;
    font-size: 1.2em;
    margin: 0 15px;
}

.site main {
    flex: 1;
    width: 1200px;
    margin: 10px auto;
}

.site footer {
    flex-shrink: 0;
    padding: 10px;
    background: #000;
    color: #0c84a9;
    position: relative;
}

.site footer .copyright {
    font-size: 0.7em;
    text-align: center;
}

.site footer .copyright span {
    display: block;
}

.site footer .top {
    position: absolute;
    right: 10px;
    top: -10px;

    border-radius: 8px;
    width: 22px;
    padding: 4px;
    text-align: center;
}


