main section {
  .days {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .day {
    margin: 0 25px;
  }

  .schedule {
    position: relative;
    margin-top: 25px;

    tr {
      border-spacing: 0;
    }

    td {
      box-sizing: border-box;
      height: 40px;
    }

    td.time {
      width: 70px;
      text-align: right;
    }

    .time span {
      background: white;
      position: relative;
      top: -20px;
      font-size: 0.9em;
      color: #666;
      text-transform: uppercase;
    }

    td.space, td.event-cell {
      border-top: 1px dashed #0c84a9;
      color: #666;
    }

    td.space {
      width: 15px;
    }

    td.event-cell {
      width: 150px;
    }

    .event {
      width: 140px;
    }

    div.event, a.event {
      box-sizing: border-box;
      position: absolute;
      border: 1px solid #666;
      border-radius: 5px;
      padding: 5px;
      background-color: #ddd;
      box-shadow: 3px 3px 3px #555;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        background: white;
        color: orange;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 999px) {
  main section {
    .day-2 {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  main section .schedule {
    td.event-cell {
      width: 130px;
    }
    .event {
      width: 120px;
    }
  }
}