a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
}

.site footer .top {
    background: #444;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
}

.site footer .top:hover {
    background: #888;
    cursor: pointer;
}

